/* .headings{
    color: rgb(227, 23, 23);
}

.Capital_of_France {
    background-color: beige;
}
#London_City {
    background-color: pink;
} */
span { 
    padding: 0px 5px ; 
    border-top: 2px solid black  ; 
    border-bottom: 4px solid gray;


}
p {
    border: 10px ridge lightgreen;
    margin: 5px ;
}